---
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile.astro';
---

<Layout title="Welcome to Astro.">
    <main class="container">
        <Profile></Profile>
    </main>
</Layout>

<style>
	.container {
        margin: auto;
        max-width: 600px;
        height: 100vh;
        width: 90%;
    }
</style>
