---
import "remixicon/fonts/remixicon.css";

interface Props {
	icon: string;
	title: string;
	description: string;
	url: string;
}

const { icon, title, description, url } = Astro.props;
---

<a href={url} class="link">
    <span class="link-icon">
        <i class={'ri-' + icon}></i>
    </span>
    <div class="link-content">
        <h2 class="link-title">{title}</h2>
        <p class="link-description">{description}</p>
    </div>
</a>

<style>
    .link {
        padding: 0.75rem;
        display: flex;
        border: 1px solid var(--zinc-800);
        border-radius: 1rem;
        text-decoration: none;
    }

    .link-icon {
        width: 3rem;
        height: 3rem;
        margin-right: 1.125rem;
        background: var(--zinc-900);
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;   
    }

    .link-icon i {
        font-size: 1.5rem;
        color: var(--zinc-50)
    }

    .link-title, .link-description {
        font-size: 1rem;
    }

    .link-title {
        color: var(--zinc-50);
        font-weight: normal;
    }

    .link-description {
        color: var(--zinc-400);
        margin-top: 0.125rem;
    }
</style>