---
import Link from "./Link.astro";
---

<div class="list">
    <Link></Link>
    <Link></Link>
    <Link></Link>
    <Link></Link>
    <Link></Link>
    <Link></Link>
    <Link></Link>
    <Link></Link>
</div>