---
import Link from "./Link.astro";
---

<div class="list">
    <Link></Link>
    <Link></Link>
    <Link></Link>
    <Link></Link>
    <Link></Link>
    <Link></Link>
    <Link></Link>
    <Link></Link>
</div>

<style>
    .list {
        margin-top: 3rem;
        display: grid;
        gap: 1rem;
    }
</style>