---
import Link from "./Link.astro";
import dataList from "../data/user.json";

const items = dataList.links;
---

<div class="list" id="list">
    {
        items.map((item) => {
            return (
                <Link 
                    icon={item.icon} 
                    title={item.title} 
                    description={item.description} 
                    url={item.url}
                ></Link>
            )
        })
    }
</div>

<style>
    .list {
        margin-top: 3rem;
        display: grid;
        gap: 1rem;
    }
</style>